@font-face { 
    font-family: "RPTH Halloween"; 
    src: url(https://static.wixstatic.com/ufonts/64c755_e46d4fb166b3407babc9c6412b20983d/woff2/file.woff2); 
    font-weight: 400; 
    font-style: normal;
} 